@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


@font-face {
    font-family: diedie;
    src: url("../fonts/DIEDIEDI.TTF") format("truetype") ;
}

*{
    margin : 0;
    font-size : 20px;
    font-family: 'Indie Flower', cursive;
    background-color: #1a1a1d;
    color : white;
}
.navbar {
    
    padding: 20px;
    display : flex; 
    align-items : center;
    max-width : 600px;
    margin : 0 auto;
    border-bottom : 2px solid white;
    border-radius : 5px;
}
.navbar h1{
    letter-spacing: 2px;
    font-family: 'diedie', cursive;
    font-size : 60px;
    color: #c3073f ;
}
.navbar .links {
    margin-left : auto;
}
.navbar a {
    margin-left : 16px;
    text-decoration : none;
    padding : 6px;
}
.navbar a:hover {
    color : #c3073f;
}
.content {
    max-width : 600px;
    margin : 40px  auto ; 
    padding : 20px ;
}

.blog-preview {
    padding : 10px 16px;
    margin : 20px 0 ; 
    border-bottom: 1px solid white;
}
.blog-preview:hover{
    box-shadow : 1px 3px 5px #c3073f;
    cursor : pointer;
}
.blog-preview h2{
    font-size: 20px;
    color : #c3073f;
    margin-bottom: 8px;
}

.home h2 {
    margin-bottom : 20px;
}
 a{
    text-decoration: none;
}